<a href="https://colab.research.google.com/github/ywChen-NTUST/DS_hw3/blob/main/DS_hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Download dataset into workspace

In [ ]:
!gdown --id "1PsnRV_D0ZJ6p6dolK4wX87hYk1qZ2UkX" --output "data.csv"
!gdown --id "1pu2RRUgOaEPB92Pq5G-zVcBwglQOEKSm" --output "prediction.csv"

Downloading...
From: https://drive.google.com/uc?id=1PsnRV_D0ZJ6p6dolK4wX87hYk1qZ2UkX
To: /content/data.csv
45.6MB [00:00, 110MB/s]
Downloading...
From: https://drive.google.com/uc?id=1pu2RRUgOaEPB92Pq5G-zVcBwglQOEKSm
To: /content/prediction.csv
100% 268k/268k [00:00<00:00, 36.6MB/s]

In [ ]:
!ls

data.csv  prediction.csv  sample_data

# Data cleaning

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("data.csv")
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
data_uk = data[data["Country"]=="United Kingdom"]
data_uk.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
na = pd.isna(data_uk["InvoiceNo"])
na.to_list().count(True)

0

In [ ]:
cancelIndex = data_uk[data_uk["InvoiceNo"].str.startswith("C")].index
data_uk_cancel = data_uk.drop(cancelIndex)
data_uk_cancel.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
postageIndex = data_uk_cancel[data_uk_cancel["Description"] == "POSTAGE"].index
data_uk_cancel_postage = data_uk_cancel.drop(postageIndex)
data_uk_cancel_postage.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
data.shape, data_uk.shape, data_uk_cancel.shape, data_uk_cancel_postage.shape

((541909, 8), (495478, 8), (487622, 8), (487570, 8))

# Convert format

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
txDataDict = {}
nan = 0

for label, row in data_uk_cancel_postage.iterrows():
  if row["Description"] == np.nan:
    nan += 1
  elif row["InvoiceNo"] in txDataDict:
    txDataDict[row["InvoiceNo"]].append(str(row["Description"]))
  else:
    txDataDict[row["InvoiceNo"]] = [str(row["Description"])]

txDataDict["538504"], nan

(['GREEN WIRE STANDING CANDLE HOLDER',
  'NATURAL SLATE HEART CHALKBOARD ',
  'ANTIQUE SILVER TEA GLASS ETCHED',
  'AGED GLASS SILVER T-LIGHT HOLDER',
  'FRENCH BLUE METAL DOOR SIGN 6',
  'FRENCH BLUE METAL DOOR SIGN 5',
  'FRENCH BLUE METAL DOOR SIGN 2',
  'ROTATING LEAVES T-LIGHT HOLDER',
  'ANTIQUE SILVER TEA GLASS ETCHED',
  'CHRISTMAS GINGHAM HEART',
  'WOODEN SCHOOL COLOURING SET',
  'ANTIQUE GLASS HEART DECORATION ',
  'ROTATING LEAVES T-LIGHT HOLDER',
  'HOT WATER BOTTLE BABUSHKA ',
  'CARDHOLDER HOLLY WREATH METAL',
  'WICKER WREATH LARGE',
  'HEART OF WICKER SMALL',
  'WICKER STAR '],
 0)

In [ ]:
txData = list(txDataDict.values())
txData[:5]

[['WHITE HANGING HEART T-LIGHT HOLDER',
  'WHITE METAL LANTERN',
  'CREAM CUPID HEARTS COAT HANGER',
  'KNITTED UNION FLAG HOT WATER BOTTLE',
  'RED WOOLLY HOTTIE WHITE HEART.',
  'SET 7 BABUSHKA NESTING BOXES',
  'GLASS STAR FROSTED T-LIGHT HOLDER'],
 ['HAND WARMER UNION JACK', 'HAND WARMER RED POLKA DOT'],
 ['ASSORTED COLOUR BIRD ORNAMENT',
  "POPPY'S PLAYHOUSE BEDROOM ",
  "POPPY'S PLAYHOUSE KITCHEN",
  'FELTCRAFT PRINCESS CHARLOTTE DOLL',
  'IVORY KNITTED MUG COSY ',
  'BOX OF 6 ASSORTED COLOUR TEASPOONS',
  'BOX OF VINTAGE JIGSAW BLOCKS ',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'HOME BUILDING BLOCK WORD',
  'LOVE BUILDING BLOCK WORD',
  'RECIPE BOX WITH METAL HEART',
  'DOORMAT NEW ENGLAND'],
 ['JAM MAKING SET WITH JARS',
  'RED COAT RACK PARIS FASHION',
  'YELLOW COAT RACK PARIS FASHION',
  'BLUE COAT RACK PARIS FASHION'],
 ['BATH BUILDING BLOCK WORD']]

In [ ]:
encoder = TransactionEncoder()
encode = encoder.fit(txData).transform(txData)
txDataPD = pd.DataFrame(encode, columns=encoder.columns_)
txDataPD.head()

    4 PURPLE FLOCK DINNER CANDLES  ...  wrongly sold sets
0                           False  ...              False
1                           False  ...              False
2                           False  ...              False
3                           False  ...              False
4                           False  ...              False

[5 rows x 4188 columns]

# Association rule

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
frequent_itemsets = apriori(txDataPD, min_support=0.01, use_colnames=True)

In [ ]:
result = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

# Apply rule

In [ ]:
prediction = pd.read_csv("prediction.csv")
prediction.head()

   index  ...                      Association Rule consequents
0      0  ...               WHITE SPOT BLUE CERAMIC DRAWER KNOB
1      1  ...  SILVER GLASS T-LIGHT SET, RED RETROSPOT UMBRELLA
2      2  ...                         LUNCH BAG SPACEBOY DESIGN
3      3  ...                         SILVER ROCCOCO CHANDELIER
4      4  ...                           JUMBO BAG RED RETROSPOT

[5 rows x 3 columns]

In [ ]:
labels = []

for label, row in prediction.iterrows():
  antecedent = set(row["Association Rule antecedents"].split(", "))
  consequent = set(row["Association Rule consequents"].split(", "))
  
  possibleCons = result[result["antecedents"] == antecedent]["consequents"]

  lab = 0
  for cons in possibleCons:
    if (cons == consequent):
      lab = 1

  labels.append(lab)

In [ ]:
len(labels)

3055

# Download result

In [ ]:
with open("result.csv", 'w') as fh:
  fh.write("index,label"+"\n")
  for i in range(len(labels)):
    fh.write(str(i)+","+str(int(labels[i]))+"\n")

In [ ]:
from google.colab import files
files.download('result.csv')

# Observation

In [ ]:
max_confidence = result[["antecedents", "consequents", "antecedent support", "consequent support", "support", "confidence"]].sort_values(by=['confidence', "support"], ascending=False)
max_confidence

                                           antecedents  ... confidence
16                (BEADED CRYSTAL HEART PINK ON STICK)  ...   0.975728
276       (SUKI  SHOULDER BAG, JAM MAKING SET PRINTED)  ...   0.963134
602  (REGENCY TEA PLATE PINK, REGENCY TEA PLATE ROS...  ...   0.944915
608  (WOODEN TREE CHRISTMAS SCANDINAVIAN, WOODEN HE...  ...   0.943966
106                                (HERB MARKER THYME)  ...   0.930435
..                                                 ...  ...        ...
107                            (LOVE HOT WATER BOTTLE)  ...   0.501099
618  (CHARLOTTE BAG SUKI DESIGN, RED RETROSPOT CHAR...  ...   0.501053
629  (RED RETROSPOT CHARLOTTE BAG, CHARLOTTE BAG PI...  ...   0.501044
559     (LUNCH BAG CARS BLUE, LUNCH BAG RED RETROSPOT)  ...   0.500982
116                                   (JUMBO BAG OWLS)  ...   0.500810

[707 rows x 6 columns]

In [ ]:
result[["antecedents", "consequents", "antecedent support", "consequent support", "support", "confidence"]].sort_values(by=['support', 'confidence'], ascending=False)

                                           antecedents  ... confidence
118                          (JUMBO BAG PINK POLKADOT)  ...   0.677308
78                   (GREEN REGENCY TEACUP AND SAUCER)  ...   0.750535
79                  (ROSES REGENCY TEACUP AND SAUCER )  ...   0.732497
132                           (JUMBO STORAGE BAG SUKI)  ...   0.617699
130                (JUMBO SHOPPER VINTAGE RED PAISLEY)  ...   0.579876
..                                                 ...  ...        ...
315       (JUMBO BAG WOODLAND ANIMALS, DOTCOM POSTAGE)  ...   0.556787
664  (JUMBO SHOPPER VINTAGE RED PAISLEY, DOTCOM POS...  ...   0.553719
376          (JUMBO BAG RED RETROSPOT, JUMBO BAG OWLS)  ...   0.543243
661  (JUMBO SHOPPER VINTAGE RED PAISLEY, JUMBO BAG ...  ...   0.523438
665           (DOTCOM POSTAGE, JUMBO STORAGE BAG SUKI)  ...   0.508861

[707 rows x 6 columns]

In [ ]:
result[["antecedents", "consequents", "antecedent support", "consequent support", "support", "confidence"]].sort_values(by=['antecedent support', 'confidence'], ascending=False)

                                      antecedents  ... confidence
118                     (JUMBO BAG PINK POLKADOT)  ...   0.677308
130           (JUMBO SHOPPER VINTAGE RED PAISLEY)  ...   0.579876
132                      (JUMBO STORAGE BAG SUKI)  ...   0.617699
154                      (LUNCH BAG SUKI DESIGN )  ...   0.504892
153                     (LUNCH BAG PINK POLKADOT)  ...   0.550696
..                                            ...  ...        ...
103                         (HERB MARKER PARSLEY)  ...   0.907895
97                          (HERB MARKER PARSLEY)  ...   0.899123
91                          (HERB MARKER PARSLEY)  ...   0.890351
276  (SUKI  SHOULDER BAG, JAM MAKING SET PRINTED)  ...   0.963134
16           (BEADED CRYSTAL HEART PINK ON STICK)  ...   0.975728

[707 rows x 6 columns]

In [ ]:
result[["antecedents", "consequents", "antecedent support", "consequent support", "support", "confidence"]].sort_values(by=['consequent support', 'confidence'], ascending=False)

                                           antecedents  ... confidence
22                   (CANDLEHOLDER PINK HANGING HEART)  ...   0.709677
172                 (RED HANGING HEART T-LIGHT HOLDER)  ...   0.664773
674  (JUMBO BAG PINK POLKADOT, JUMBO STORAGE BAG SU...  ...   0.871795
691  (JUMBO SHOPPER VINTAGE RED PAISLEY, JUMBO BAG ...  ...   0.868421
678  (JUMBO BAG WOODLAND ANIMALS, JUMBO SHOPPER VIN...  ...   0.857724
..                                                 ...  ...        ...
95                                 (HERB MARKER BASIL)  ...   0.875000
104                                (HERB MARKER THYME)  ...   0.900000
102                             (HERB MARKER ROSEMARY)  ...   0.896104
98                                  (HERB MARKER MINT)  ...   0.879828
92                                 (HERB MARKER BASIL)  ...   0.875000

[707 rows x 6 columns]